/* 
 * Author: Will Shen
 * Date: Aug 2017
 * Description: UI CSS framework for my web deveopment projects
 */

@import url("syntax-highlight/default.css");
@import url("components/sidebar.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/table.css");
@import url("components/dropdown.css");
@import url("components/navbar.css");
@import url("components/cards.css");
@import url("components/badge.css");
@import url("components/banner.css");
@import url("components/tabs.css");
@import url("components/input.css");

html {
	font-family: "roboto", Helvetica, Arial, sans-serif;;
	font-size: 100%;
	-ms-text-size-adjust: 100%; /*IE Browser*/
	-webkit-text-size-adjust: 100%; /*Chrome, Opera, Safari*/
}

/* Define Font and Font Size */
body{
	font-family: "roboto", Helvetica, Arial, sans-serif;
	font-size: 17px;
	color: #333;
	background-color: #fff;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialised;
}

h1 {
	font-size: 2rem;
	line-height: 1.5;
	margin: auto;
}

h2{
	font-size: 1.5rem;
	line-height: 1.5;
	margin-top: 20px;
}

h3{
	font-size: 1.25rem;
	line-height: 1.5;
	margin: auto;
}

h4{
	font-size: 1.1rem;
	line-height: 1.5;
	margin: auto;
}

h5{
	font-size: 1.0rem;
	line-height: 1.5;
	margin: auto;
}

h6{
	font-size: 0.85rem;
	line-height: 1.5;
	margin: auto;
}

hr {
	border: 1px solid rgba(34,36,38,.1);
}

strong, b{
	font-weight: bold;
	line-height: inherit;
}

medium {
	font-size: 90%;
	line-height: inherit;
}	

small {
	font-size: 80%;
	line-height: inherit;
}

.text-center {
  text-align: center;
}

.text-left {
	text-align: left;
}

.vert-center {
	vertical-align: middle;
}

.item {
    position:relative;
    padding: 20px 0 20px 20px;
    display: inline-block;
}

/* Colors*/
.red {
     background-color: #ea4335;   
 }

 .blue {
    background-color: #2185d0; 
 }

 .green {
    background-color: #4CAF50;  
 }

.grid-container{
	display: grid;
	grid-template-columns: 200px auto 200px;
	grid-template-rows: auto auto auto auto;
	grid-template-areas:
		 "header header header"
		 "sidebar main main"
		 "sidebar main main"
		 "footer footer footer";
	background: #fcfcfc;	 
}

/* grid-row-start, grid-column-start, grid-row-end, grid-column-end */
.grid-container .sidebar{
	grid-area: 2/1/5/2;
	background: #ffffff;
	border-right-style: solid 2px;
}

.grid-container > .sidebar ul{
	margin: 0;
    padding: 0;	
	list-style-type: none;
}

.grid-container > .sidebar > ul li{
	display: block;
	font-size: 17px;
	font-weight: 300;
	padding: 20px 0 20px 40px;
}

.grid-container > .sidebar > ul li:hover{
	cursor: pointer;
}

.grid-container > .sidebar > ul li:active{
	font-size: 18px;
	font-weight: 500;
	padding-top: 10px;
}

.grid-container > .sidebar > ul li:hover{
	cursor: pointer;
	background: #f2f2f2;
	font-size: 17px;
	font-weight: 800;
}

.grid-container .sidebar > h2{
	font-size: 1.5rem;
	font-weight: 300;
	padding-top: 30px;
}

.grid-container .header{
	display: flex;
	flex-direction: row;
	max-height: 50px;
	grid-area: 1/1/2/4;
	background: #0099cc;
	padding: 20px 20px;
}

.grid-container .header > .brand{
	flex: 1;
	display: block;
	font-size: 2rem;
	font-weight: 500;
	color: #fff;
	width: 500px;
	height: auto;
	vertical-align: middle;
}

.grid-container .header > .text{
	font-size: 3rem;
	color: #ffffff;
	font-weight: 400;
}

.grid-container .header > h4{
	color: #ffffff;
	font-weight: 400;
	margin-bottom: 30px;
}

.grid-container .header .nav {
	flex: auto;
	vertical-align: middle;
}

.grid-container .header .nav ul {
	display: flex;
	flex-direction: row;
}

.grid-container .header .nav ul li{
	flex: 1;
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 300;
	text-align: center;
	padding: 10px;
	color: #fff;
}

.grid-container .header .nav ul li a{
	text-decoration: none;
	color: #fff;
}

.grid-container .header .nav ul li:not(:first-child){
	border-left: 1px solid #fff;
}

.grid-container .header .search {
	flex: 1;
	text-align: center;
}

.grid-container .header .user {
	flex: 0.2;
	text-align: center;
	padding: 10px;
	color: #fff;
	height: 12px;
}

.grid-container .header .user a {
	text-decoration: none;
	color: #fff;
}

.header-title{
    font-weight: 300;
	font-size: 2.0rem;
    margin-top: 30px;
}

.grid-container >.main {
	grid-area: 2/2/4/4;
	background: #fcfcfc;
	margin-left: 2rem;
	margin-right: 2rem;
	padding: 20px 0 20px 0;
}

.grid-container .main > .caption {
	color: rgba(0,0,0,0.71);
	font-weight: 300;
}

.grid-container .footer{
	color: #ffffff;
	font-size: 0.75rem;
	grid-area: 4/1/5/4;
	background: #0099cc;
	padding: 2% 0 2% 5%;
	margin-top: 20px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
	.grid-container{
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: 100px 200px 200px 200px;
		grid-template-areas:
			 "header"
			 "sidebar"
			 "main"
			 "footer";
		background: lightgreen;
	}

	/* grid-row-start, grid-column-start, grid-row-end, grid-column-end */
	.grid-container .header{
		grid-area: 1/1/2/2;
		background: lightgreen;
	}

	.grid-container .sidebar{
		grid-area: 2/1/3/2;
		background: lightblue;
	}

	.grid-container .main {
		grid-area: 3/1/4/2;
		background: lightyellow;
	}

	.grid-container .footer{
		grid-area: 4/1/5/2;
		background: orange;
	}	
}

