<!doctype html>
<html lang="en" ng-app="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> My UI Framework </title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/syntax-highlight/school-book.css">
  </head>

  <body>
  <div class="grid-container">
    <div class="sidebar">
      <div class="brand"> Logo</div>
      <h2 class="text-center"> Component </h2>
      <ul ng-model="component">
        <li> <a href="#" ng-click="component ='avatar'">Avatar</a></li>
        <li> <a href="#" ng-click="component ='buttons'">Buttons</a></li>
        <li> <a href="#" ng-click="component ='badges'">Badges</a></li>
        <li> <a href="#" ng-click="component ='banner'">Banner</a></li>
        <li> <a href="#" ng-click="component ='cards'">Cards</a></li>
        <li> <a href="#" ng-click="component ='dropdown'">Dropdown</a></li>
        <li> <a href="#" ng-click="component ='input'">Input</a></li>
        <li> <a href="#" ng-click="component ='navbar'">Navbar</a></li>
        <li> <a href="#" ng-click="component ='tabs'">Tabs</a></li>
        <li> <a href="#" ng-click="component ='table'">Table</a></li>
      </ul>
    </div>

    <!-- Header -->
    <div class="header">
      <div class="nav">
          <ul>
            <li> <a href="#">About</a> </li>
            <li> <a href="#">Getting Started</a></li>
            <li> <a href="#">UI Components</a> </li>
        </ul>
      </div>
      <div class="search">
        <div class="input-box">
          <input type="search" name="search" placeholder="Search...">
          <i><span class="fa fa-search"> </span></i>
        </div>
      </div>
      <div class="user"><a href="#"><i class="fa fa-user fa-lg"
        aria-hidden="true"></i></a></div>
    </div> <!-- End of header -->

    <!-- Main -->
     <div class="main" ng-switch on="component">
       <div ng-switch-when="avatar" >
         <ng-include src="'/views/avatar.html'"></ng-include>
       </div>
       <div ng-switch-when="badges" >
         <ng-include src="'/views/badges.html'"></ng-include>
       </div>
       <div ng-switch-when="banner" >
         <ng-include src="'/views/banner.html'"></ng-include>
       </div>
       <div ng-switch-when="buttons" >
         <ng-include src="'/views/buttons.html'"></ng-include>
       </div>
       <div ng-switch-when="cards">
         <ng-include src="'/views/cards.html'"></ng-include>
       </div>
       <div ng-switch-when="dropdown">
         <ng-include src="'/views/dropdowns.html'"></ng-include>
       </div>
       <div ng-switch-when="input">
         <ng-include src="'/views/input.html'"></ng-include>
       </div>
       <div ng-switch-when="navbar">
         <ng-include src="'/views/navbar.html'"></ng-include>
       </div>
       <div ng-switch-when="tabs">
         <ng-include src="'/views/tabs.html'"></ng-include>
       </div>
       <div ng-switch-when="table">
         <ng-include src="'/views/table.html'"></ng-include>
       </div>
       <div ng-switch-default>
         <br />
         <div class="banner">
  				<h1>Name</h1>
  				<p>A modern front-end development framework</p>
  				<button class="button button-green"> Get Started</button>
  			</div>
       </div>
    </div> <!-- end of Main -->
    <!-- Footer -->
    <div class="footer">
      <p> Copyright © 2017-present </p>
    </div>
  </div> <!-- end of Grid -->
  <!-- Load javascript when all files are loaded. -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/scripts/angular.min.js"></script>
  <script src="/scripts/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script src="/scripts/app.js"></script>
</html>
