<section class="component">
  <div class="title"> Avatar</div>
  <div class="explanation">
    <p> Avatar is commonly used as profiles and social media settings. </p>
  </div>
  <div class="example">
    <div class="heading"> Big Avatar </div>
    <p>Big avatar can be used as profile pictures, product catalogue and so on. </p>
      <a href="#"><img class="avatar" src="http://via.placeholder.com/300x300"></a>
    <div class="heading"> Small Avatar</div>
      <p>Small avatar can be used when a large number of profiles are shown together. </p>
      <a href="#"><img class="avatar-small" src="http://via.placeholder.com/100x100"></a>
    </div>
  </div>
  <div class="code"> </div>
</section>
