<section class="component">
  <div class="title"> Badges</div>
  <div class="explanation">
    <p> Badges gives notifications on new or unread messages. </p>
  </div>
  <div class="example">
    <div class="heading"> Round Badges </div>
    <p> These are commonly seen on mobile apps where the number denotes the
      number of unread notifications or messages.</p>
    <div class="item">
     <a href="#"><img class="avatar-small" src="http://via.placeholder.com/100x100"></a>
      <span class="badge-round red">8</span>
    </div>
    <div class="code">
      <pre>
        <code class="html">
            &lt;span class="badge-round red"&gt;8&lt;/span&gt;
      </code></pre>
    </div>

    <div class="heading"> Rectangular badges </div>
    <p class="caption"> Rectangular badges are very similar to labels, and they are used to notify users new information or something that needs to be aware of. </p>
    <div class="item">
      <span class="badge-rect green"> New </span>
      <span class="badge-rect blue"> 4 orders </span>
      <span class="badge-rect red"> Alert</span>
    </div>
  </div>
  <div class="code">
    <pre>
      <code class="html">
          &lt;span class="badge-rect red"&gt;New&lt;/span&gt;
    </code></pre>
  </div>
</section>
