<section class="component">
	<div class="title"> Banners</div>
	<div class="explanation">
		<p> Banners extend to the majority of the viewport to
				display the most important contents. </p>
	</div>
	<div class="example">
    <div class="heading"> Gradient Banner</div>
		<p> This banners is made up of gradient colours span from left to right,
		alternatively you can use background images. </p>
		<div class="banner">
			<h1> Hello, World!</h1>
			<p> I love front-end development. </p>
			<button class="button button-green"> More </button>
		</div>
		<pre class="line-numbers"><code class="language-css">
			&lt;div class="banner"&gt;
				&lt;h1&gt;Hello, World!&lt;/h1&gt;
				&lt;p&gt;I love front-end development. &lt;/p&gt;
				&lt;button class="button button-green"&gt; More &lt;/button&gt;
			&lt;/div&gt;
		</code></pre>
	</div>
	<div class="code"> </div>
</section>
