<section class="component">
  <div class="title"> Cards </div>
  <div class="explanation">
    <p> Just like the name suggests, cards display information similar to playing
      cards or business cards where information for a particular items have
      similar fields and are being displayed in a structured manner.
    </p>
  </div>
  <div class="example">
    <div class="heading"> Profile Cards</div>
      <p> Profile cards provides a picture, a brief summary of
        individuals and links for more information.</p>
      <div class="flex-cards">
        <div class="image">
          <img src="img/cards-300x300.png">
        </div>

        <div class="content">
          <a class="title"> Kobe Bryant </a>
          <div class="subtitle">
            <span class=""> Los Angeles Lakers </span>
          </div>
          <div class="description">
            20 years of professional basketball in NBA with Los Angles Lakers, and 5 times World Champ.
          </div>
        </div> <!-- End of contents -->

        <div class="icons">
          <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
          <i class="fa fa-linkedin fa-2x linkedin" aria-hidden="true"></i>
          <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
          <input type="button" class="button button-ghost profile" value="Profile">
        </div>
      </div> <!-- end of Flexcards -->

    <pre><code class="html">
      &lt;div class="flex-cards"&gt;
        &lt;div class="image"&gt;
          &lt;img src="img/cards-300x300.png"&gt;
        &lt;/div&gt;

        &lt;div class="content"&gt;
          &lt;a class="title"&gt; Your title goes here &lt;/a&gt;
          &lt;div class="subtitle"&gt;
            &lt;span class=""&gt; Your subtitle &lt;/span&gt;
          &lt;/div&gt;
          &lt;div class="description"&gt;
          &lt;!-- Enter your description --&gt;
          &lt;/div&gt;
        &lt;/div&gt; &lt;

        &lt;div class="icons"&gt;
          &lt;i class="fa fa-facebook-official fa-2x" aria-hidden="true"&gt;&lt;/i&gt;
          &lt;i class="fa fa-linkedin fa-2x linkedin" aria-hidden="true"&gt;&lt;/i&gt;
          &lt;i class="fa fa-twitter fa-2x" aria-hidden="true"&gt;&lt;/i&gt;
          &lt;input type="button" class="button button-ghost profile" value="Profile"&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    </code></pre>
  <div class="code"> </div>


<div class="heading"> Contact Cards </div>
  <p> By removing the image div, it simply becomes a business card.
    There is no adjustments needed, as it's done using flex-box.</p>
    <div class="flex-cards">
      <div class="content">
        <a class="title"> Kobe Bryant </a>
        <div class="subtitle">
          <span class=""> Los Angeles Lakers</span>
        </div>
        <div class="description">
          20 years of professional basketball in NBA with Los Angles Lakers, and 5 times World Champ.
        </div>
      </div> <!-- End of contents -->

      <div class="icons">
        <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
        <i class="fa fa-linkedin fa-2x linkedin" aria-hidden="true"></i>
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        <input type="button" class="button button-ghost profile" value="Profile">
      </div>
  </div> <!-- end of Flexcards -->

<div class="heading"> Fluid Card</div>
<p> Fluids cards automatically adjust the spacing to fit into each row,
  and if the number of cards can't fit Into one row,
  it will automatically move onto next row with proper alignment.
  By default, it aligns to the left.</p>
  <div class="cards-grid">
      <div class="flex-cards">
          <div class="content">
            <a class="title"> Kobe Bryant </a>
            <div class="subtitle">
              <span class=""> Los Angeles Lakers</span>
            </div>
            <div class="description">
              20 years of professional basketball in NBA with Los Angles Lakers, and 5 times World Champ.
            </div>
          </div> <!-- End of contents -->

          <div class="icons">
            <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
            <i class="fa fa-linkedin fa-2x linkedin" aria-hidden="true"></i>
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
            <input type="button" class="button button-ghost profile" value="Profile">
          </div>
      </div> <!-- end of Flexcards -->

      <div class="flex-cards">
        <div class="content">
          <a class="title"> Kobe Bryant </a>
          <div class="subtitle">
            <span class=""> Los Angeles Lakers</span>
          </div>
          <div class="description">
            20 years of professional basketball in NBA with Los Angles Lakers, and 5 times World Champ.
          </div>
        </div> <!-- End of contents -->
        <div class="icons">
          <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
          <i class="fa fa-linkedin fa-2x linkedin" aria-hidden="true"></i>
          <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
          <input type="button" class="button button-ghost profile" value="Profile">
        </div>
    </div> <!-- end of Flexcards -->

      <div class="flex-cards">
        <div class="content">
          <a class="title"> Kobe Bryant </a>
          <div class="subtitle">
            <span class=""> Los Angeles Lakers</span>
          </div>
          <div class="description">
            20 years of professional basketball in NBA with Los Angles Lakers, and 5 times World Champ.
          </div>
        </div> <!-- End of contents -->

        <div class="icons">
          <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
          <i class="fa fa-linkedin fa-2x linkedin" aria-hidden="true"></i>
          <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
          <input type="button" class="button button-ghost profile" value="Profile">
        </div>
      </div> <!-- end of Flexcards -->
  </div> <!--end of grid -->
</div> <!--end of example div -->
</section>
<script>

$(document).ready(function() {
   $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
});
</script>
