<section class="component">
  <div class="title"> Dropdown</div>
  <div class="explanation">
    <p> Description of the component goes here. </p>
  </div>
  <div class="example">
    <div class="heading"> Navigation Dropdown Menu</div>
    <p> Menu dropdown is commonly used to help users to navigate to a new page
      or part of existing page. </p>
      <div class="dropdown-nav">
        <button class="button dropdown-button blue"> Menu
          <i class="fa fa-angle-down lg" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu">
          <li class="item"><a href="#">New</a> </li>
          <li class="item"><a href="#">Save</a></li>
        <hr>
          <li class="item"><a href="#">Close</a></li>
        </ul>
      </div> <!-- end of dropdown nav-->

    <pre class="line-numbers"><code class="language-html">
       &lt;input type="button" class="button button-blue" value="General&gt;
    </code></pre>
  <div class="code"> </div>


<div class="heading"> Dropdown</div>
  <p> A dropdown list.</p>
  <div class="dropdown"> Favourite Site
    <ul class="dropdown-menu">
      <li><a href="http://wwww.google.com">Google</a></li>
      <li><a href="http://www.youtube.com">Youtube</a></li>
      <li><a href="http://www.nba.com">NBA</a></li>
    </ul>
  </div>
  <div class="code">
    <pre class="line-numbers"><code class="language-css">
       &lt;input type="button" class="button button-blue" value="General&gt;
    </code></pre>
  </div>

</section>
