<section class="component">
  <div class="title"> Dropdown</div>
  <div class="explanation">
    <p> Description of the component goes here. </p>
  </div>
  <div class="example">
    <div class="heading"> Navigation Dropdown Menu</div>
    <p> Menu dropdown is commonly used to help users to navigate to a new page
      or part of existing page. </p>
      <div class="dropdown-nav">
        <button class="button dropdown-button blue"> Menu
          <i class="fa fa-angle-down lg" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu">
          <li class="item"><a href="#">New</a> </li>
          <li class="item"><a href="#">Save</a></li>
        <hr>
          <li class="item"><a href="#">Close</a></li>
        </ul>
      </div> <!-- end of dropdown nav-->

    <pre class="line-numbers"><code class="html">
      &lt;div class="dropdown-nav"&gt;
        &lt;button class="button dropdown-button blue"&gt; Menu
          &lt;i class="fa fa-angle-down lg" aria-hidden="true"&gt;&lt;/i&gt;
        &lt;/button&gt;
        &lt;ul class="dropdown-menu"&gt;
          &lt;li class="item"&gt;&lt;a href="#"&gt;New&lt;/a&gt; &lt;/li&gt;
          &lt;li class="item"&gt;&lt;a href="#"&gt;Save&lt;/a&gt;&lt;/li&gt;
        &lt;hr&gt;
          &lt;li class="item"&gt;&lt;a href="#"&gt;Close&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
    </code></pre>
  <div class="code"> </div>


<div class="heading"> Dropdown</div>
  <p> A dropdown list.</p>
  <div class="dropdown"> Favourite Site
    <ul class="dropdown-menu">
      <li><a href="http://wwww.google.com">Google</a></li>
      <li><a href="http://www.youtube.com">Youtube</a></li>
      <li><a href="http://www.nba.com">NBA</a></li>
    </ul>
  </div>
  <div class="code">
    <pre class="line-numbers"><code class="html">
      &lt;div class="dropdown"&gt; Favourite Site
        &lt;ul class="dropdown-menu"&gt;
          &lt;li&gt;&lt;a href="http://wwww.google.com"&gt;Google&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="http://www.youtube.com"&gt;Youtube&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="http://www.nba.com"&gt;NBA&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
    </code></pre>
  </div>
</section>

<script>
$(document).ready(function() {
   $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
});
</script>
<script src="/scripts/app.js"></script>
