<section class="component">
  <div class="title"> Inputs</div>
  <div class="explanation">
    <p> An input is a field that elicit data from users. </p>
  </div>
  <div class="example">
    <div class="heading"> Search box</div>
      <p> A standard search box. </p>
      <div class="search">
        <div class="input-box">
          <input type="search" name="search" placeholder="Search...">
          <i><span class="fa fa-search"> </span></i>
        </div>
      </div>
      <div class="code">
        <pre class="line-numbers"><code class="markdown">
           &lt;input type="button" class="button button-blue" value="General&gt;
        </code></pre>
      </div>

      <div class="heading"> Input Box</div>
        <p> A standard input box </p>
        <div class="input">
          <div class="input-label"> First Name</div>
          <div class="input-box">
            <input type="text" name="search" placeholder="First Name">
          </div>
        </div>
        <div class="code">
          <pre class="line-numbers"><code class="language-css">
             &lt;input type="button" class="button button-blue" value="General&gt;
          </code></pre>
        </div>

          <div class="heading"> Input Selector</div>
            <p>Input selector is a great alternative to drop down as it has all
              the option listed, therefore requires one less click.
            </p>
            <div class="button-group">
               <input type="button" href="#" class="inline-button" value="VIC">
               <input type="button" href="#" class="inline-button" value="NSW">
              <input type="button" class="inline-button" value="SA">
              <input type="button" class="inline-button" value="WA">
            </div>
            <div class="code">
              <pre class="line-numbers"><code class="language-css">
                 &lt;input type="button" class="button button-blue" value="General&gt;
              </code></pre>
            </div>

            <div class="heading"> Input with label</div>
              <p>  An input can have a label to improve the clarity of the field.
              </p>
              <div class="labelled-input">
                <input class="rect-input" type="text" name="search" placeholder="Height">
                <div class="label"> cm</div>
              </div>
              <div class="code">
                <pre class="line-numbers"><code class="language-css">
                   &lt;input type="button" class="button button-blue" value="General&gt;
                </code></pre>
              </div>

</section>
