<section class="component">
  <div class="title"> Inputs</div>
  <div class="explanation">
    <p> An input is a field that elicit data from users. </p>
  </div>
  <div class="example">
    <div class="heading"> Search box</div>
      <p> A standard search box. </p>
      <div class="search">
        <div class="input-box">
          <input type="search" name="search" placeholder="Search...">
          <i><span class="fa fa-search"> </span></i>
        </div>
      </div>
      <div class="code">
        <pre class="line-numbers"><code class="markdown">
          &lt;div class="search"&gt;
            &lt;div class="input-box"&gt;
              &lt;input type="search" name="search" placeholder="Search..."&gt;
              &lt;i&gt;&lt;span class="fa fa-search"&gt; &lt;/span&gt;&lt;/i&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        </code></pre>
      </div>

      <div class="heading"> Input Box</div>
        <p> A standard input box </p>
        <div class="input">
          <div class="input-label"> First Name</div>
          <div class="input-box">
            <input type="text" name="search" placeholder="First Name">
          </div>
        </div>
        <div class="code">
          <pre class="line-numbers"><code class="html">
            &lt;div class="input"&gt;
              &lt;div class="input-label"&gt; First Name&lt;/div&gt;
              &lt;div class="input-box"&gt;
                &lt;input type="text" name="search" placeholder="First Name"&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          </code></pre>
        </div>

          <div class="heading"> Button Group</div>
            <p>Button group is a great alternative to drop down as it has all
              the option listed, therefore requires one less click.
            </p>
            <div class="button-group">
              <input type="button" class="inline-button" value="VIC">
              <input type="button" class="inline-button" value="NSW">
              <input type="button" class="inline-button" value="SA">
              <input type="button" class="inline-button" value="WA">
            </div>
            <div class="code">
              <pre class="line-numbers"><code class="html">
                &lt;div class="button-group"&gt;
                  &lt;input type="button" class="inline-button" value="VIC"&gt;
                  &lt;input type="button" class="inline-button" value="NSW"&gt;
                  &lt;input type="button" class="inline-button" value="SA"&gt;
                  &lt;input type="button" class="inline-button" value="WA"&gt;
                &lt;/div&gt;
              </code></pre>
            </div>

            <div class="heading"> Input with label</div>
              <p>  An input can have a label to improve the clarity of the field.
              </p>
              <div class="labelled-input">
                <input class="rect-input" type="text" name="search" placeholder="Height">
                <div class="label"> cm</div>
              </div>
              <div class="code">
                <pre class="line-numbers"><code class="html">
                  &lt;div class="labelled-input"&gt;
                    &lt;input class="rect-input" type="text" name="search" placeholder="Height"&gt;
                    &lt;div class="label"&gt; cm&lt;/div&gt;
                  &lt;/div&gt;
                </code></pre>
              </div>
</section>

<script>
$(document).ready(function() {
   $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
});
</script>
