<section class="component">
  <div class="title"> Navbars</div>
  <div class="explanation">
    <p>   Navigation bar or Navbar is commonly used at the top or side of the
      page to direct users to other sections of the site. </p>
  </div>
  <div class="example">
    <div class="heading">  Navbar - Left hand side logo</div>
      <p> This navbar has the logo on the left hand side.</p>

      <div class="navbar">
        <div class="logo">
          <p> Logo </p>
        </div>
        <div class="nav-menu">
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
          </ul>
        </div> <!--end of nav-menu -->
      </div> <!-- end of navbar -->

  <div class="code">
    <pre class="line-numbers"><code class="language-html">
       &lt;div class="navbar"&gt;
         &lt;div class="logo"&gt;
           &lt;p> Logo &lt;/p&gt;
         &lt;/div&gt;
         &lt;div class="nav-menu"&gt;
           &lt;ul&gt;
             &lt;li&gt;&lt;a href="#home">Home&lt;/a&gt;&lt;/li&gt;
             &lt;li&gt;&lt;a href="#news">News&lt;/a&gt;&lt;/li&gt;
             &lt;li&gt;&lt;a href="#contact">Contact&lt;/a>&lt;/li&gt;
             &lt;li&gt;&lt;a href="#about">About&lt;/a&gt;&lt;/li&gt;
           &lt;/ul&gt;
         &lt;/div&gt;
       <&lt;div&gt;
    </code></pre>
  </div>

  <div class="heading"> Navbar - Right hand side logo</div>
    <p> This navbar has the logo on the right hand side, this is simply just
      a reordering of the html elements.</p>

      <div class="navbar">
        <div class="nav-menu">
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
          </ul>
        </div>
        <div class="logo">
          <p> Logo </p>
        </div>
      </div>

      <div class="code">
        <pre class="line-numbers"><code class="language-html">
           &lt;div class="navbar"&gt;
             &lt;div class="nav-menu"&gt;
               &lt;ul&gt;
                 &lt;li&gt;&lt;a href="#home">Home&lt;/a&gt;&lt;/li&gt;
                 &lt;li&gt;&lt;a href="#news">News&lt;/a&gt;&lt;/li&gt;
                 &lt;li&gt;&lt;a href="#contact">Contact&lt;/a>&lt;/li&gt;
                 &lt;li&gt;&lt;a href="#about">About&lt;/a&gt;&lt;/li&gt;
               &lt;/ul&gt;
             &lt;/div&gt;
             &lt;div class="logo"&gt;
               &lt;p> Logo &lt;/p&gt;
             &lt;/div&gt;
           <&lt;div&gt;
        </code></pre>
      </div
</div>
</section>
<script>
$(document).ready(function() {
   $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
});
</script>
