<section class="component">
	<div class="title"> Preloaders </div>
	<div class="explanation">
		<p> Preloaders are presented to users when you have contents that
			takes times to load, and this is should be used until contents
		 	have finished loading.</p>
	</div>

	<div class="example">
    <div class="heading"> Spinner </div>
		<p> This is one of the most common preloaders, and can be used
		when loading media such as video. </p>

		<div class="spinner-wrapper">
		  <div class="spinner spinner-1"></div>
		  <div class="spinner spinner-2"></div>
		  <div class="spinner spinner-3"></div>
		  <div class="spinner spinner-4"></div>
		  <div class="spinner spinner-5"></div>
		  <div class="spinner spinner-6"></div>
		  <div class="spinner spinner-7"></div>
		  <div class="spinner spinner-8"></div>
		  <div class="spinner spinner-9"></div>
		  <div class="spinner spinner-10"></div>
		  <div class="spinner spinner-11"></div>
		  <div class="spinner spinner-12"></div>
		</div>
		<pre class="line-numbers"><code class="html">
			&lt;div class="spinner-wrapper"&gt;
			  &lt;div class="spinner spinner-1"&gt;&lt;/div&gt;
			  &lt;div class="spinner spinner-2"&gt;&lt;/div&gt;
			  &lt;div class="spinner spinner-3"&gt;&lt;/div&gt;
			  &lt;div class="spinner spinner-4"&gt;&lt;/div&gt;
			  &lt;div class="spinner spinner-5"&gt;&lt;/div&gt;
			  &lt;div class="spinner spinner-6"&gt;&lt;/div&gt;
			  &lt;div class="spinner spinner-7"&gt;&lt;/div&gt;
			  &lt;div class="spinner spinner-8"&gt;&lt;/div&gt;
			  &lt;div class="spinner spinner-9"&gt;&lt;/div&gt;
			  &lt;div class="spinner spinner-10"&gt;&lt;/div&gt;
			  &lt;div class="spinner spinner-11"&gt;&lt;/div&gt;
			  &lt;div class="spinner spinner-12"&gt;&lt;/div&gt;
			&lt;/div&gt;
		</code></pre>

		<div class="heading"> Spin Circle </div>
		<p> The colours are inpsired by Google and it is simply a
			  circle spinning in clockwise direction. </p>
			<div class="pre-loader">
				<div class="spin-circle"></div>

			</div>

			<pre class="line-numbers"><code class="html">
				&lt;div class="spin-circle"&gt;&lt;/div&gt;
			</code></pre>

	<div class="code"> </div>
</section>

<script>
$(document).ready(function() {
   $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
});
</script>
