/*buttons*/
.button {
    border: 1px solid;
    border-radius: 6px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
}

.button-group{
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		max-width: 300px;
		border-radius: 6px;
		/*border: 1px solid rgba(34,36,38,.1);	*/
	    font-size: 18px;
	    font-weight: 300;
	    cursor: pointer;
	    margin-top: 20px;
}

.button-group > .rect-input{
	flex: 1;
}

.button-group > .inline-button:first-child{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top: 1px solid rgba(34,36,38,.1);
	border-bottom: 1px solid rgba(34,36,38,.1);
	border-left: 1px solid rgba(34,36,38,.1);
}

.button-group > .inline-button:last-child{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid rgba(34,36,38,.1);
}

.button-group > .inline-button:not(:first-child):not(:last-child) {
	border-top: 1px solid rgba(34,36,38,.1);
	border-bottom: 1px solid rgba(34,36,38,.1);
	border-left: 1px solid rgba(34,36,38,.1);	
}

.button-group > .inline-button{
	flex: 1;
	background: white;
   	border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.button-group > .inline-button:focus{
	outline: none;
	background:  #2185d0;
	color: #fff;
}

.button-group > .inline-button:active{
	background:  #2185d0;
}

.button-small {
	font-size: 12px;
	padding: 5px 5px;
}

.button-medium {
	font-size: 14px;
	padding: 8px 8px;
}

.button-float {
	box-shadow: 3px 2px 2px #888888;
	border-color: #2185d0;
}

.button-float:active {
	transform: translateY(-3px);
}

.button-float-round {
  	width: 50px;
  	height: 50px;
  	border: none;
  	text-decoration: none;
  	display: inline-block;
	border-radius: 50%;
	box-shadow: 0 2px 2px #888888;
}

.button-float-round:active {
    position: relative;
    overflow: hidden;
    transform: translate3d(0,0,0);
}

.button-float-blue{
	background: #2185d0;
}

.button-flat {
	color: #000;
	border: none;
	background: none;
}

.button-flat:hover {
	color: #000 !important;
	background: #f2f2f2;
}

.button-ghost {
	color: #000;
	background: none;
}

.button-ghost:hover {
	color: #000 !important;
	background: #f2f2f2;
}

.button:focus {
	outline: none;
	outline-offset: -2px;
}

.button:hover {
	color: white;
	text-decoration: none;
}

.button:active {
	background-image: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
		    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);

}

.button-blue {
	background-color: #2185d0;
}

.button-blue:hover {
	background-color: white;
	border-color: #2185d0;
	color: #2185d0;
/*	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 
				0 17px 40px 0 rgba(0,0,0,0.19);*/
}

.button-green {
	background-color: #4CAF50;
}

.button-green:hover {
	background-color: white;
	border-color: #4CAF50;
	color: #4CAF50;
/*	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 
				0 17px 40px 0 rgba(0,0,0,0.19);*/
}

.button-red {
	background-color: #ea4335;
}

.button-red:hover {
	background-color: white;
	border-color: #ea4335;
	color: #ea4335;
/*	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 
				0 17px 40px 0 rgba(0,0,0,0.19);*/
}

.button-disabled {
	cursor: not-allowed;
	opacity: 0.8;
}


.dropdown-button {
	font-size: 1.2rem;
	padding: 6px !important;
	border-radius: none;
}

.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0)
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s
}

.ripple:active:after {
    transform: scale(0, 0);
    opacity: .2;
    transition: 0s
}
