/* Table */
table {
  background-color: transparent;
}

.table{
	width: 100%;
	margin-bottom: 20px;
  border-collapse: collapse;
}

th {
  text-align: center;
  color: #fff;
}

.table > thead > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > td{
  font-size: 1.0rem;
  font-weight: 300;
	padding: 10px;
	line-height: 1.5;
	vertical-align: top;
}

.table > thead > tr > th {
  font-size: 1.2rem;
}

.table.border > thead > tr > th {
  font-weight: 500;
  border: 1px solid rgba(34,36,38,.1);
}

.table > tfoot > tr > td {
  vertical-align: bottom;
}

/* Implementation of different styles */

/* Striped gives alternate rows different colors*/
.striped tr:nth-child(even){
  background-color: #f2f2f2;
}

.divider th, td{
  border-bottom: 1px solid #ddd;
}

.normal-header th{
  color: #000;
  font-weight: 600;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}

.blue-header th{
    background: #0099cc;
}

.red-header th{
    background: #ea4335;
}

.green-header th{
    background: #4CAF50;
}

.border th, td, tr{
  border: 1px solid rgba(34,36,38,.1)
}
